@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family:'Open Sans', sans-serif;
    color: #fff;
}

.container {
    width: 100%;
    height: 100%;
    background: url(./img/pexels.jpg) center / cover no-repeat;
    display: flex;
    flex-direction: column;
}

.grandient {    
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #0c01018a , rgba(112, 37, 37, 0.637))  
}

.header {
    width: 100%;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}

.header > a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: 1px  solid rgb(190, 24, 24);
    padding: 5px  20px;
}

h1 {
    margin-top: 60px;
    font-size: 100px;
    text-align: center;
    line-height: 117,19px;
    text-transform: uppercase;
}

.main {
    margin-top: 100px;
    text-align: center;
}

nav{
    margin: auto;
    margin-top: 20px;
    width: 50%;
    text-align: center;

}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    line-height: 20px;
    font-size: 17px;
    font-weight:5px;
}

li > a {
    color: #fff;
}

.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    position: absolute;
    bottom: 0px;
}

.left-block img{
    margin-right: 10px;
}

.right-block a{
    color: #fff;
    text-decoration: none;
}

@media(max-width: 600px) {

    h1 {
        font: 14px;
    }


    ul {
        display: inline-block;
    }
}


@media(max-width: 400px) {

    .main {
        margin-top: 0px;
        text-align: center;
    }

    ul {
        display: inline-block;
    }

    nav {

        width: 100%;

    }

    li > a {
        border: 1px solid #fff;
        padding: 3px 30px;
        text-decoration: none;
        font-size: 13px;
        background: rgba(29, 29, 29, 0.534);
    }

    li {
        margin: 10px 0px;
    }

    h1  {
        font-size: 56px;
    }

    .right-block > a {
        font-size: 13px;
        text-decoration: overline;
    }

    .header > a {
        font-size: 16px;
    }
}
